.loan-card {
  padding: .15rem;
  background: #fff;
  color:#999;
  margin-top:.06rem;
}
.loan-card-left {
  float: left;
  width:40%;
  text-align:center;
}
.loan-card-right {
  float: right;
  width: 60%;
  text-align:left;;
}
.loan-card-money{
  color: #ff6b38;
  font-size: 0.24rem;
}
.loan-card-til{
  color:#333;
  font-size:.14rem;
}
.loan-card-right p {
  font-size: .12rem;

}